<h1>Drivers</h1>
<div id="paging"></div>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Given Name</th>
        <th>Family Name</th>
        <th>Date of birth</th>
        <th>WikiLink</th>
        <th>Constructor</th>
    </tr>
    </thead>
    <tbody>
    {{#each driversWithConstructors}}
    <tr>
        <td>{{link (concat '/driver/' this.driver.driverId) this.driver.givenName}}</td>
        <td>{{link (concat '/driver/' this.driver.driverId) this.driver.familyName}}</td>
        <td>{{moment this.driver.dateOfBirth}}</td>
        <td>{{link this.driver.url 'Wikipedia'}}</td>
        <td>{{link (concat '/constructor/' this.constructor.constructorId) this.constructor.name}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>
